@font-face {
    font-family: 'OpenSans-Regular';
    src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'sans-light';
    src: url('fonts/OpenSans-Light.ttf');
}

body {
    width: 100%;
    font-family: 'OpenSans-Regular';
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.invisible {
    display: none;
}

.topbar {
    padding: 0 1%;
}

.naamtitel {
    font-size: 40px;
    margin-bottom: 5px;
}

.naamtitelim {
    font-size: 30px !important;
}

.navbar {
    display: flex;
    width: 98%;
    justify-content: space-around;
    background-color: #FFC300;
    padding: 1%;
}

.sticky {
    position: fixed;
    top: 0;
}

.sticky+.navbar {
    padding-top: 60px;
}

.navlink {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.item {
    text-align: center;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.eerste {
    margin-top: 80px;
}

.rest {
    margin-top: 40px;
}

p {
    font-size: 20px;
}

.knoppen {
    width: auto;
    padding: 8px;
}

[class*="button"] {
    border: none;
    background-color: rgb(161, 161, 161);
    font-size: 30px;
    font-family: sans-light;
}

.ruimte {
    margin: 30px;
}

.footer {
    width: 100%;
    margin-top: 80px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 10px;
    ;
    background-color: #FFC300;
}

.fullwidth {
    width: 100%;
}

.bijtekst {
    color: grey;
    font-size: 24px;
    margin-top: 5px;
}

.consulten {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    text-align: center;
}

.consulten a {
    color: white;
    text-decoration: none;
    width: 100px;
}

.consulten a:nth-child(1) {
    background-color: rgb(224, 0, 0);
    border-radius: 100%;
    display: inline-block;
    padding: 45px 20px;
    margin: 10px;
}

.consulten a:nth-child(2) {
    background-color: #FFC300;
    border-radius: 100%;
    display: inline-block;
    margin: 10px;
    padding: 45px 20px;
}

.consulten a:nth-child(3) {
    color: black;
    background-color: whitesmoke;
    border-radius: 100%;
    display: inline-block;
    margin: 10px;
    padding: 55px 20px;
}

.consulten a:nth-child(4) {
    background-color: rgb(0, 0, 196);
    border-radius: 100%;
    display: inline-block;
    margin: 10px;
    padding: 45px 20px;
}

.consulten a:nth-child(5) {
    background-color: green;
    border-radius: 100%;
    display: inline-block;
    margin: 10px;
    padding: 45px 20px;
}

.picture {
    max-width: 300px;
}